<% provide(:title, "Blog") %>
<h1>Word From the Pastor's Desk</h1>
<h2>The Gift of The Holy Spirit</h2>
<p>
  <a href="#"><em>Pefa Kayole B</em></a> is a
  <a href="#">Church</a>
  that teaches the word of God
  <a href="#">Church App</a>.
  This is our Web Application.
</p>