<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on Pefa Kayole B at
  <a href="#">Pefa Kayole B Help</a>.
  To get help on this church app, see the
  <a href="#help"><em>Pefa Kayole B Church App</em> book</a>.
</p>