<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
  	<h1>POSITIONED FOR GOD'S GREATNESS</h1>
  	<p class="lead">2 Chronicles 20:17</p>
    <%= link_to "Worship with Us!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>    
</div>

<div class="container about-pefa">
	<div class="row">
		<div class="col-sm-6">
	      <h1 class="text-left">Welcome: The Pefa Kayole B Story</h1>
	       <p>
			Pefa Kayole B was founded in 2004 at Kayole by pastor james ceo.
			the church was initially an independent outfit headed by the - until
			god guided him to join the pefa ministries  which it has been under since.
			There has been tremendous growth since the church was founded fron our humble 
			beginning worshiping in a mabati structre to where we are right now in very 
			strong permanent structure.
		  </p>
	      <%= link_to "Tell Me More?", about_path, class: "btn btn-lg btn-info" %>
		</div>
		<div class="col-sm-6">
		 <%= image_tag("worship.JPG", alt: "rss feed", class: "img-responsive") %>
		</div>

</div>
<br>
<div class="container-fluid bg-1">
	<div class="row">
		<div class="col-sm-6">
			<div class="panel-group" id="accordion">
			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Order of Service</a>
			        </h4>
			      </div>
			      <div id="collapse1" class="panel-collapse collapse in">
			        <div class="panel-body">
			        			<p>Youth Service:      7:00am - 8:30am</p>
			        			<p>1st Service:        8:30am - 10:30am</p>
			        			<p>2nd Service:        10:45am - 1: 00pm</p>
			        			<p>Children's Church:  Runs concurrently with the two services</p> 

			        </div>
			      </div>
			    </div>
			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Weekely Program</a>
			        </h4>
			      </div>
			      <div id="collapse2" class="panel-collapse collapse">
			        <div class="panel-body">
			        	<p>Chior Practice               Monday & Thursday 5:30 - 7:30pm</p>
			        	<p>Home Fellowships             Tuesday 6pm - 7:30pm</p>
			        	<p>Midweek service:             Wednesday 6pm - 7:30pm</p>
			        	<p>Youth Kesha:                 Every Friday and for the whole church every last friday of the month.</p>
			        	<p>Praise and Worship Practice: Saturday 5pm -6:30pm</p> 
			        </div>
			      </div>
			    </div>
			    <div class="panel panel-default">
			      <div class="panel-heading">
			        <h4 class="panel-title">
			          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Monthly Programs</a>
			        </h4>
			      </div>
			      <div id="collapse3" class="panel-collapse collapse">
			        <div class="panel-body">
			        	<p>1st Sunday:      Ministry Meetings</p>
			        	<p>2nd Sunday:      Leaders meeting</p>
			        	<p>3rd Sunday:      Department meetings(Youth, Men and Women)</p>
			        	<p>4th Saturday:    Mission and Evangelism.</p> 
			        </div>
			      </div>
			    </div>
			  </div> 
	    </div>
</div>


