<% provide(:title, "Ministries") %>
<h1>Our Ministries</h1>
<p>
  <a href="#"><em>Pefa Kayole B</em></a> is a
  <a href="#">Church</a>
  that teaches the word of God
  <a href="#">Church App</a>.
  This is our Web Application.
</p>
