<% provide(:title, "News") %>
<h1>Announcements</h1>
<p>
  <a href="#"><em></em></a> is a
  <a href="#">Church</a>
  that teaches the word of God
  <a href="#">Church App</a>.
  This is our Web Application.
</p>
