@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


.jumbotron {
  background-color: transparent;
  text-align: center;
  background-image: url(worship3.JPG);
  min-height: 400px;
  border-radius: 0 !important;
  h1 {
    margin-bottom: 0px;
    font-size: 3.2em;
  }
  p {
  color: #FFFFFF;
  }
  h1 {
    color: #ffffff;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-brand {
  float: none;
  a{
    float: left;
    color: #00CCF2;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

ul.dropdown-menu {
    background-color: black;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

img {
  height:100;
  width:  100;
}