<footer class="footer">
  <small>
    Pefa Kayole B website Designed and built
    by <a href="#">Pefa Kayole B Media Team</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About us",       about_path %></li>
      <li><%= link_to "Contact us",     contact_path %></li>
      <li><%= link_to "Upcomig Events", events_path %></li>
      <li><%= link_to "News",           news_path %></li>
    </ul>
  </nav>
</footer>
