<div class="container">
<header class="navbar navbar-fixed-top navbar-inverse" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
    <div class="navbar-brand">
    <%= link_to image_tag("pefaLogo.png", :size => "24x24", alt: "Pefa Logo") + "Pefa Kayole B",
            root_path %>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
	   <li><%= link_to "Home",                  root_path, class: "active" %></li>
	   <li class="dropdown">
      <a href="/views/static_pages/about.html.erb" class="dropdown-toggle" data-toggle="dropdown">
                  About <b class="caret"></b>
     <ul class="dropdown-menu">
       <li><%= link_to "Vision",                  about_path %></li>
       <li><%= link_to "Mission",                  about_path %></li>
       <li><%= link_to "Core Values",                  about_path %></li>
       <li><%= link_to "Ministry Purpose",                  about_path %></li>
       <li><%= link_to "Leadership",                  about_path %></li>
     </ul>
     </a> 
  </li>
	<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Ministries
      <b class="caret"></b>
        <ul class="dropdown-menu">
          <li><%= link_to "Childrens Church",                  ministries_path %></li>
          <li><%= link_to "Intercessory",                  ministries_path %></li>
          <li><%= link_to "Chior",                  ministries_path %></li>
          <li><%= link_to "Praise and Worship",                  ministries_path %></li>
          <li><%= link_to "Ushering",                  ministries_path %></li>
          <li><%= link_to "Evangelism",                  ministries_path %></li>
          <li><%= link_to "Hospitality & Followup",                  ministries_path %></li>
        </ul> 
        </a> 
  </li>
	<li class="dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Departments
      <b class="caret"></b>
        <ul class="dropdown-menu">
          <li><%= link_to "Men of Vision",                  departments_path %></li>
          <li><%= link_to "Daughters of Victory",                  departments_path %></li>
          <li><%= link_to "Youths of Destiny",                  departments_path %></li>
          <li><%= link_to "Children Department",                  departments_path %></li>
        </ul>
        </a>   
  </li>
        <li><%= link_to "Help",                  help_path %></li>
        <li><%= link_to "Blog",                  blog_path %></li>
        <li><%= link_to "Log in",                '#' %></li>
      </ul>
    </div>
  </div>
</header>
</div>